.container {
  max-width: 1128px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: 768px 322px;
  grid-template-rows: auto;
  grid-template-areas: 'main aside';
  grid-column-gap: 20px;

  padding-top: 24px;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}
